.bottom-rectangle {
    position: fixed;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-pause-image {
    height: 60px;
    width: auto;
}

.progress-bar-container {
    position: fixed;
    bottom: 80px;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    z-index: 1;
    display: flex;
}

.progress-bar {
position: relative;
height: 100%;
background-color: #403927;
width: 0;
}

.play-pause-container {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.audio {
    pointer-events: none;
    height: 0px;
    width: 0px;
    opacity: 0;
}
.song-info {
position: fixed;
bottom: 8px;
left: 10px;
display: flex;
align-items: center;
color: white;
z-index: 2;
}
.current-time {
margin-top: 10px;
color: white;
opacity: 0%
}

.song-playing {
height: 65px;
width: 65px;
opacity: 0%
}

.playing-details {
    position: block;
    margin-left: 15px;
   }
   .song-name {
    text-overflow: ellipsis;
      white-space: nowrap;
  overflow: hidden;
      max-width: 25vw;
      background-color: transparent;
      opacity: 0;
   }